.card-trip {
  width: 50%;
  font-family: ArgentumRegular;
  padding: 70px 40px 65px 55px;
  @media (max-width: 900px) {
    width: 100%;
  }
}
.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.default-text {
  font-size: 1rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  display: flex;
  gap: 20px;
  display: flex;
  align-items: center;
  div {
    height: 1px;
    width: 40px;
  }
  @media (max-width: 1280px) {
    font-size: 0.8rem;
  }
  @media (max-width: 768px) {
    font-size: 0.7rem;
  }
}
.title-card {
  line-height: 65px;
  font-size: 55px;
  font-family: ArgentumBlack;
  @media (max-width: 1280px) {
    font-size: 40px;
  }
  @media (max-width: 768px) {
    line-height: 40px;
    font-size: 30px;
  }
}
.sub-title {
  font-family: ArgentumLight;
  font-size: 1.3rem;
  width: 550px;
  padding-bottom: 30px;
  @media (max-width: 1280px) {
    width: 100%;
    font-size: 1rem;
  }
  @media (max-width: 768px) {
    font-size: 0.9rem;
  }
}
