@import url(../../styles/fonts/typography.css);

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 50px 40px;
  height: 75px;
  @media (max-width: 1023px) {
    padding-inline: 10px;
  }
}
nav ul {
  display: flex;
  gap: 36px;
  list-style: none;
  @media (max-width: 900px) {
    position: absolute;
    right: 0;
    top: -100%;
    width: 320px;
    height: 100%;
    background: transparent linear-gradient(180deg, #005bd5 0%, #002e6b 100%) 0%
      0% no-repeat padding-box;

    flex-direction: column;
    justify-content: center;
    gap: 0;
  }
  li {
    font-family: ArgentumSemiBold;
    color: #005bd5;
    font-size: 22px;
    @media (max-width: 900px) {
      color: #fff;
      width: 100%;
      height: 60px;
      line-height: 60px;
      text-align: center;
      transition: 0.7s;
      &:hover {
        background-color: rgba(197, 197, 197, 0.4);
      }
    }
  }
}
#handle-click {
  position: absolute;
  top: 20px;
  right: 20px;
  display: none;
  @media (max-width: 900px) {
    z-index: 1;
    display: block;
  }
  :checked {
    display: none;
  }
}
.button-Mobile {
  display: none;
  @media (max-width: 900px) {
    display: block;
    background-color: #005bd5;
    border: none;
    width: 100%;
    height: 60px;
    z-index: 10;
    position: absolute;
    bottom: 0;

    font-size: 20px;
    font-family: ArgentumSemiBold;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}
.nav-right {
  display: flex;
  align-items: center;
  gap: 46px;
}
.button-Desktop {
  background-color: #005bd5;
  border-radius: 25px;
  border: none;
  height: 45px;
  width: 150px;

  font-family: ArgentumSemiBold;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  &:hover {
    cursor: pointer;
  }
  @media (max-width: 900px) {
    display: none;
  }
}
